main{
  padding: 50px 0 100px;
}
main .wrap{}
main .port_list{
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .port_list li{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  /* background-image: url(../image/fanboard_ch1.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  border: 1px solid #eee;
}
main .black{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s;
}
main .port_list li:hover .black{
  opacity: 1;
}
main .black p{
  font-size: 20px;
  color: #fff;
}

#port_box{
  display: flex;
  justify-content: center;
}